.container {
    width: 80%;
    margin: 0 auto;
}
.btn-margin {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: -0.7rem;
}
.animal-table {
    margin-top: 1rem;
}
.form-ctr {
    margin-top: 5rem;
}